* {
  box-sizing: border-box;
}

body {
  background: #181818;
  color: #fff;
  font-family: "Quicksand", sans-serif;
  padding: 0 1.5em;
}

.content {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
}

.logo {
  text-align: center;
  font-size: 3em;
}

.logo span {
  color: darkred;
}

.contact-wrapper {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}

.contact-wrapper > * {
  padding: 1em;
}

.contact-form {
  background: #222;
}

.contact-form form {
  margin: 0;
  padding: 1em;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: 0.7em;
}
